<div
  class="flex flex-col items-center text-lg sm:text-xl text-justify py-12 m-auto w-screen h-[80vh]">
  <div class="grid grid-cols-1 gap-5 w-4/5 sm:w-3/5 lg:w-2/5">
    <div class="flex justify-center w-full">
      <img
        class="w-40 rounded-full"
        src="assets/michaelsusanto-profile.png"
        alt="profpic"/>
    </div>
  
    <p>
      My name is Michael Susanto, i'm from Faculty of Computer Science, Universitas Indonesia.
    </p>
    <p>
      I started my programming career with Visual Basic 6.0 and since entering University, I started to learn about programming and now I develop web and mobile applications.
    </p>
    <p>
      Beside of that, I usually play musical instruments for refreshing and play badminton with friends to keep healthy.
    </p>
  </div>
</div>
